License.txt
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
!icon.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folder
build*
bin*
.vscode

# CMakeLists.user files
CMakeLists.txt.user*
